ul li{
	display: inline-block;
	margin-bottom: 50px;

}
.signup,.login{
	font-size: 80px;
	width: 20px;
	list-style-type: none;
}
.login{
	margin-right: 30%;
}
.logout{
	font-size: 50px;
	margin-left:  80%;
}
.pointer{
	cursor: pointer;
	margin-right: 100px;
}
